input {
  width: 50%;
  height: 34px;

  margin-top: 10px;
  padding: 4px 8px 4px 14px;

  border: 1px solid var(--main-color);
  border-radius: 32px;

  color: var(--dark-text);

  background-color: var(--background-color);

  @media only screen and (max-width: 600px) {
    width: 75%;
  }
}
